@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MediaManager</title>
</head>
<body>
    <div>
        <h2>Hello, World.</h2>
        <p id="summary">Loading...</p>
    </div>
    <div id="logged-in" style="display: none">
        You are logged in as <span id="login-name"></span>.
        <button id="log-out">Log out</button>
    </div>
    <div id="logged-out" style="display: none">
        You are not logged in.
        <button>Log in</button>
    </div>

    @Scripts.Render("~/bundles/libs")
    <script src="/Scripts/app.js"></script>
    <script type="text/javascript">
        $(function() {
            var app = new MediaManager.App("https://mediamanager.azure-mobile.net/", "zXiNSblOtaOabAuuuuBrFgsqAugjWP23");

            function refreshAuthDisplay() {
                var isLoggedIn = app.isLoggedIn();
                $("#logged-in").toggle(isLoggedIn);
                $("#logged-out").toggle(!isLoggedIn);
                if (isLoggedIn) {
                    $("#login-name").text(app.currentUser().userId);
                    console && console.log(app.currentUser());
                }
            }
            
            refreshAuthDisplay();
            $('#summary').html('<strong>You must login to access data.</strong>');
            $("#logged-out button").click(function() {
                app.logIn().then(
                    refreshAuthDisplay,
                    function (error) { alert(error); });
            });
            $("#logged-in button").click(function() {
                app.logOut();
                refreshAuthDisplay();
                $('#summary').html('<strong>You must login to access data.</strong>');
            });
        });
    </script>
</body>
</html>
