@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MediaManager</title>
</head>
<body data-ng-app="MediaManagerApp">
    <div class="navbar">
        <ul class="navmenu" data-ng-controller="NavCtrl">
            <li data-ng-class="{'active':getClass('/login')}"><a href="#/login">Login</a></li>
            <li data-ng-class="{'active':getClass('/settings')}"><a href="#/settings">Settings</a></li>
        </ul>
    </div>
    
    <div class="main-content" data-ng-view=""></div>
    
    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/angular-app")
</body>
</html>
